<%= form_for(@vodcast) do |f| %>
  <% if @vodcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vodcast.errors.count, "error") %> prohibited this vodcast from being saved:</h2>

      <ul>
      <% @vodcast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
