<ul class="unstyled">
<% @vodcasts.each do |vodcast| %>
  <li>
    <h3><%= vodcast.title %></h3>
    <span style="color: #ccc"><%= vodcast.created_at %></span>
    <p><%= vodcast.desc %></p>
    <div class="text-center">
      <iframe width="640" height="360" src="<%= vodcast.link %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <span><%= link_to 'Show', vodcast %> | 
      <%= link_to 'Edit', edit_vodcast_path(vodcast) %> |
      <%= link_to 'Destroy', vodcast, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Vodcast', new_vodcast_path %>
