<% if admin? %>
  <p>
    <%= link_to 'New Vodcast', new_vodcast_path %>
  </p>
<% end %>

<div class="row">
  <div class="span9">
    <ul class="unstyled">
    <% @vodcasts.each do |vodcast| %>
      <% cache(vodcast) do %>
      <li>
        <h3><%= link_to vodcast.title, vodcast %></h3>
        <span style="color: #ccc"><%= vodcast.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        <div class="text-center" style="margin: 10px">
          <iframe width="640" height="360" src="<%= vodcast.link %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <p><%= vodcast.desc %></p>
        <p>
          <%= link_to 'Comments ['+vodcast.comments.count.to_s + ']', vodcast %> | <%= render partial: "tags", object: vodcast.tags %>
        </p>
        <% if admin? %>
          <p>
            <%= link_to 'Edit', edit_vodcast_path(vodcast) %> |
            <%= link_to 'Destroy', vodcast, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </li>
      <% end %>
    <% end %>
    </ul>

  </div>
  <div class="span3">
    <div style="border: 1px solid #ccc; padding: 0 10px 0 10px">
      <%= render partial: 'tags/side_menu', object: Tag.all %>
    </div>
  </div>
</div>
