<h2>
  <%= @vodcast.title %>
</h2>

<% if admin? %>
	<%= link_to 'Edit', edit_vodcast_path(@vodcast) %> |
	<%= link_to 'Destroy', @vodcast, method: :delete, data: { confirm: 'Are you sure?' } %>
	<br />
<% end %>

<small><%= @vodcast.created_at %></small>

<div class="text-center" style="margin: 10px">
  <iframe width="640" height="360" src="<%= @vodcast.link %>" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  <%= @vodcast.desc %>
</p>

<p>
	<%= render partial: "tags", object: @vodcast.tags %>
</p>

<%= render 'comments/comments' %>

<% if signed_in? %>
	<%= render 'shared/comment_form' %>
<% end %>