<!DOCTYPE html>
<html>
<head>
  <title>DotNetCasts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "dotNetCasts", root_path, {class: :brand} %>
          <div class="nav-collapse collapse">
            <form class="navbar-form pull-left">
              <input class="span3" type="text" placeholder="Search casts...">
              <button type="submit" class="btn">Search</button>
            </form>
            <ul class="nav pull-right">
              <li><%= link_to "dotNetCasts", root_path %></li>
              <li><%= link_to "About", about_path %></a></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  	<%= yield %>
  	<%= debug(params) if Rails.env.development? %>
  </div>


</body>
</html>
